.cards {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
    border-radius: 25px;
}
.main{
    display:grid;
    grid-template-rows:auto;
    grid-template-columns:repeat(4,1fr);
    gap:50px;
    width:90%;
    margin:auto
}

@media screen and (min-width:650px) and (max-width:1024px){
    .main{
        display:grid;
        grid-template-rows:auto;
        grid-template-columns:repeat(2,1fr);
        gap:50px;
        width:90%;
        margin:auto
    }
}
@media screen and (min-width:320px) and (max-width:650px){
    .main{
        display:grid;
        grid-template-rows:auto;
        grid-template-columns:repeat(1,1fr);
        gap:50px;
        width:90%;
        margin:auto
    }
}